.card {
  margin-top: 35px;
}

.card__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
  margin-bottom: 40px;
  
  .title {
    margin-bottom: 5px;
  }
}

.card__img {
  position: relative;
  width: 400px;
  height: 310px;
  border: 1px solid rgb(238, 238, 238);
}

.card__slide {
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__pagination {
  bottom: -11px;
  left: 50%;
  padding-left: 7px;
  padding-right: 7px;
  background-color: #fff;
  transform: translateX(-50%);
  
  .swiper-pagination-bullet {
    margin-left: 3px;
    margin-right: 3px;
  }
}

.card__prev,
.card__next {
  top: 50%;
  background-image: url(../img/icons/right-arrow.svg);
  background-color: #fff;
}

.card__prev {
  left: 0;
}

.card__next {
  right: 0;
}

.card__slider {
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    background-color: #fff;
  }
}

.card__form {
  width: 295px;
  padding: 20px;
  border: 1px solid rgb(238, 238, 238);
}

.card__info {
  width: ~"calc(100% - 695px)";
  padding: 20px;
}

.card__articul {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 14px;
  color: #909090;
}

.card__brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 14px;
  font-style: italic;
  color: #909090;
}

.card__logo {
  width: 90px;
  height: 55px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: 1px solid rgb(238, 238, 238);
  .transition();
  
  &:hover,
  &:active {
    border-color: rgba(255,255,255,0);
    box-shadow: 0px 0px 35px 0px rgba(216, 216, 216, 0.25);
    .transition();
  }
}

blockquote {
  width: 100%;
  .reset();
  padding: 20px 25px;
  text-align: center;
  font-size: 14px;
  color: #909090;
  line-height: 18px;
  border: 2px dashed @yellow;
}

.card__tabs {
  max-width: 925px;
  margin-bottom: 20px;
}

.card__title {
  .reset();
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 30px;
  background-color: #f8f8f8;
  
  .ui-tabs-active {
    border-color: @yellow;
  }
}

.card__name {
  margin-right: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  border-bottom: 4px solid rgba(255,255,255,0);
  
  a {
    outline: none;
  }
}

.card__field {
  padding: 20px 27px;
  
  ul {
    .reset();
    list-style: none;

    li {
      position: relative;
      padding-left: 30px;

      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: 6px;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: @yellow;
      }
    }
  }

  ol {
    .reset();
    list-style: none;
    counter-reset: myCounter;

    li {
      position: relative;
      padding-left: 30px;

      &::before {
        counter-increment: myCounter;
        content: counter(myCounter);
        position: absolute;
        top: 3px;
        left: 0;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 1;
        border-radius: 50%;
        border: 2px solid @yellow;
      }
    }
  }
}

.card__table {
  td {
    width: 170px;
    height: 33px;
    vertical-align: bottom;
    
    &:first-child {
      font-weight: 700;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      padding-bottom: 5px;
      
      span {
        padding-right: 15px;
        line-height: 1.2;
      }
        
      &::after {
        content: "";
        flex-grow: 1;
        height: 1px;
        margin-bottom: 3px;
        background-color: rgb(239, 239, 239);
      }
    }
    &:nth-child(2) {
      padding-left: 20px;
    }
  }
}
