@media (max-width: 1910px) {
  .wrapper {
    max-width: 1595px;
  }
  .catalog__item {
    &:nth-child(6) {
      display: none;
    }
    &:nth-child(5) {
      margin-right: 0;
    }
  }
  .catalog__list--main .catalog__week {
    &:nth-child(5) {
      display: none;
    }
  }
  .products__link,
  .catalog__list--plate .catalog__week {
    &:nth-child(5n) {
      margin-right: 16px;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  .promo__slide {
    width: 492px;
  }
}
//-----------------------------------------------------------------------
@media (max-width: 1595px) {
  .wrapper {
    max-width: 1280px;
  }
  .catalog__item {
    &:nth-child(5) {
      display: none;
    }
    &:nth-child(4) {
      margin-right: 0;
    }
  }
  .catalog__list--main .catalog__week {
    width: 305px;
    
    &:nth-child(4) {
      display: none;
    }
  }
  .products__link,
  .catalog__list--plate .catalog__week {
//    margin-right: 10px;
    
    &:nth-child(4n) {
      margin-right: 16px;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .catalog__list {
    flex-grow: 0;
  }
  .about__item {
    flex-grow: 1;
    width: auto;
  }
  .about__list {
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
  }
  .promo__slide {
    width: 295px;
  }
  .search {
    width: 300px;
  }
}
//-----------------------------------------------------------------------
@media (max-width: 1278px) {
  .wrapper {
    width: 100%;
  }
  .menu__btn {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    padding-left: 0;
    font-size: 0;
    background-position: center;
  }
  .top__service,
  .menu {
    padding-left: 20px;
  }
  .top__menu {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer .top__btn,
  .header .search {
    display: none;
  }
  .search {
    width: 250px;
  }
  .promo__slider .swiper-slide-next {
    width: 354px !important;
  }
  .promo__info {
    padding-top: 50px;
  }
  .promo__btn {
    bottom: 20px;
  }
  .catalog__top {
    display: block;
  }
  .tabs__name {
    margin-left: 0;
    margin-right: 25px;
  }
  .catalog__related,
  .catalog__slider,
  .catalog__sale,
  .tabs__slider {
    width: 925px;
    margin-left: auto;
    margin-right: auto;
  }
  .catalog__item {
    &:nth-child(4) {
      display: none;
    }
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  .products__wrap,
  .catalog__list--main .catalog__week:nth-child(3) {
    display: none;
  }
  .products__link,
  .catalog__list--plate .catalog__week {
    &:nth-child(3n) {
      margin-right: 16px;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  .products__sort {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .brands__slider {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
  }
}
//-----------------------------------------------------------------------
@media (max-width: 1022px)  {
  .top__service {
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }
  .top__nav {
    flex-wrap: wrap;
    padding-right: 0;
  }
  .top__btn {
    position: absolute;
    top: ~"calc(100% + 8px)";
    left: 100px;
  }
  .menu {
    order: 1;
  }
  .top__menu {
    order: 3;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #f2f2f2;
    border-left: 0;
  }
  .footer .top__menu {
    border-bottom: 1px solid #f2f2f2;
    border-top: 0;
  }
  .cart {
    order: 2;
  }
  .search {
    width: 100%;
    margin-top: 5px;
  }
  .top__copyright {
    order: 4;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .top__item {
    margin: 0;
  }
  .top__list {
    justify-content: space-between;
  }
  .menu {
    position: static;
  }
  .header {
    position: relative;
  }
  .menu__list {
    left: 0;
  }
  .promo__slider {
    margin-left: auto;
    margin-right: auto;
    width: 728px;
  }
  .promo__slider .swiper-slide-next .promo__info {
    background-image: url(../img/images/shape-small.svg);
    background-size: 103px 100%;
  }
  .promo__slide {
    width: 354px;
  }
  .tabs__title {
    padding-right: 0;
  }
  .catalog__related,
  .catalog__sale,
  .catalog__slider,
  .tabs__slider {
    width: 610px;
  }
  .catalog__item {
    &:nth-child(3) {
      display: none;
    }
    &:nth-child(2) {
      margin-right: 0;
    }
  }
  .catalog__list--main .catalog__week:nth-child(2) {
    display: none;
  }
  .catalog__wrap {
    width: 610px;
    margin-left: auto;
    margin-right: auto;
  }
  .brands__slider {
    width: 610px;
  }
  .about__wrap {
    flex-wrap: wrap;
    border: 0;
  }
  .about__list {
    border: 1px solid #eee;
  }
  .header .top__block--phone::before {
    display: none;
  }
  .columns {
    flex-direction: column-reverse;
  }
  .columns__content {
    width: 100%;
  }
  .filter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .filter__form {
    display: none;
  }
  .catalog__list--plate,
  .products__links {
    justify-content: space-around;
  }
  .catalog__list--plate .catalog__week:nth-child(5n),
  .products__link:nth-child(5n),
  .catalog__list--plate .catalog__week:nth-child(3n),
  .products__link:nth-child(3n),
  .catalog__list--plate .catalog__week,
  .products__link {
    margin-right: 0;
  }
  .catalog__list--plate .catalog__week .catalog__order {
    display: block;
    position: static;
    padding: 0;
    margin-top: 15px;
    box-shadow: none;
  }
}
//-----------------------------------------------------------------------
@media (max-width: 766px) {
  .promo__slider {
    width: 610px;
  }
  .promo__slide,
  .promo__slider .swiper-slide-next .promo__info {
    width: 295px !important;
  }
  .promo__info {
    padding-top: 30px;
  }
  .top__btn {
    position: static;
    margin-left: auto;
    margin-top: 5px;
  }
  .top__menu-btn {
    display: block;
    font-weight: 700;
  }
  .top__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 315px;
    padding: 30px;
    background-color: #f8f8f8;
  }
  .top__item {
    margin-bottom: 10px;
  }
  .top__menu {
    order: 2;
    width: auto;
    padding-top: 25px;
    border-top: 0;
  }
  .cart {
    order: 3;
  }
  .footer .top__menu {
    display: none;
  }
  .tabs__name {
    text-align: center;
  }
}
//-----------------------------------------------------------------------
@media (max-width: 650px) {
  .wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
  .cart {
    width: 100%;
    border-top: 1px solid #f2f2f2;
    border-left: 0;
  }
  .menu__list,
  .top__list {
    width: 100%;
  }
  .menu__sublist {
    display: block;
    position: static;
    width: 100%;
    padding-top: 0;
  }
  .brands__slider {
    width: 190px;
  }
  .catalog__related,
  .catalog__wrap,
  .catalog__sale,
  .catalog__slider,
  .tabs__slider,
  .promo__slider {
    width: 295px;
  }
  .tabs {
    position: relative;
    padding-bottom: 50px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    bottom: 0;
    top: auto;
  }
  .tabs__title {
    flex-wrap: wrap;
  }
  .tabs__name {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .about__list,
  .catalog__wrap,
  .catalog__sale {
    flex-wrap: wrap;
  }
  .catalog__wrap {
    border: 0;
  }
  .catalog__list--main .catalog__week {
    width: 295px;
    margin-top: 20px;
    border: 1px solid #eee;
  }
  .catalog__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .catalog__list--main .catalog__week .catalog__order {
    display: block;
    position: static;
    padding: 0;
    box-shadow: none;
    margin-top: 15px;
  }
  .about__item {
    width: 295px;
    border-right: 0;
    border-bottom: 1px solid #eee;
    
    &:last-child {
      border-bottom: 0;
    }
  }
  .footer .logo {
    display: none;
  }
  .products__sort {
    flex-direction: column;
  }
  .products__option {
    margin-left: 0;
    margin-top: 10px;
  }
  .pages__link,
  .pages__move {
    margin-bottom: 10px;
  }
}
